{% extends 'faculty/base.html' %}
{% load static %}

{% block page_css %}
<link rel="stylesheet" href="{% static 'faculty/css/attendance.css' %}">
{% endblock %}

{% block content %}

<h2>Attendance</h2>
<p>View and mark student attendance</p>

{% if not_authorized %}
    <div class="not-allowed">
        You are not authorized to mark attendance
    </div>
{% else %}

<!-- Assigned class -->
<div class="assigned-box">
    <div class="assigned-text">
        <strong>Assigned Class</strong><br>
        <span>{{ class_obj.class_name }} - {{ section.section_name }}</span>
    </div>
    <button id="openModal" class="mark-btn">Mark Attendance</button>
    <button id="openReportModal" class="mark-btn">Generate Report</button>
</div>

<!-- Students list -->
<table class="attendance-table">
    <thead>
        <tr>
            <th>Roll No</th>
            <th>Name</th>
            <th>Attendance %</th>
        </tr>
    </thead>
    <tbody>
        {% for row in attendance_data %}
        <tr>
            <td>{{ row.student.roll_no }}</td>
            <td>{{ row.student.name }}</td>
            <td>
                <span class="badge green">
                    {{ row.percentage }}%
                </span>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- MODAL -->
<div id="attendanceModal" class="modal">
    <div class="modal-content">
        <span id="closeModal" class="close">&times;</span>

        <h3>Mark Attendance - {{ class_obj.class_name }} {{ section.section_name }}</h3>

       {% if error_message %}
<div class="error-msg">{{ error_message }}</div>
{% endif %}

<div class="summary">
    <div class="card total">
        <span>Total</span>
        <strong>{{ total_count }}</strong>
    </div>
    <div class="card present">
        <span>Present</span>
        <strong>{{ present_count }}</strong>
    </div>
    <div class="card absent">
        <span>Absent</span>
        <strong>{{ absent_count }}</strong>
    </div>
</div>
        <form method="post">
            {% csrf_token %}

            <label>Date</label>
            <input type="date" name="date" value="{{ selected_date }}">

            <table class="modal-table">
                <thead>
                    <tr>
                        <th>Roll No</th>
                        <th>Name</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in attendance_data %}
                    <tr>
                        <td>{{ row.student.roll_no }}</td>
                        <td>{{ row.student.name }}</td>
                  <td>
    <div class="toggle-wrapper">
        <span class="status-text">
            {% if row.status == "P" %}Present{% else %}Absent{% endif %}
        </span>

        <label class="toggle">
            <input type="checkbox"
                   name="present_{{ row.student.id }}"
                   {% if row.status == "P" %}checked{% endif %}>
            <span class="slider"></span>
        </label>
    </div>
</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <button type="submit" class="save-btn">Save Attendance</button>
        </form>
    </div>
</div>

{% endif %}
<div id="reportModal" class="modal">
  <div class="modal-content" style="width:500px">
    <span id="closeReportModal" class="close">&times;</span>

    <h3>Generate Attendance Report</h3>

    <form method="post" action="{% url 'attendance_report' %}">
      {% csrf_token %}

    <label>From Date:</label>
    <input type="date" name="from_date" required>

    <label>To Date:</label>
    <input type="date" name="to_date" required>

   <div class="Generate"> <button type="submit">Generate Report</button></div>
</form>
  </div>
</div>

{% endblock %}

{% block page_js %}
<script src="{% static 'faculty/js/attendance.js' %}"></script>
{% endblock %}